<!DOCTYPE HTML>
<html ng-app="project">
<head>
<title>CARL</title>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js"></script>
<script src="/javascripts/angularApp.js"></script>

</head>

<body ng-controller="MainController">
	<div id="postform" class="row">
		<div>
			<form>
				Title: <input type="text" ng-model="formData.title"> <br>
				Post body: <input type="text" ng-model="formData.body"> <br>
				Author: <input type="text" ng-model="formData.author"> <br>

				<button type="submit" ng-click="addPost()">Submit</button>
			</form>
		</div>
	</div>
	
	<div id="postlist">
		<div>
			{{2+2}}
			<!-- For each post in $scope.posts -->
			<div ng-repeat="post in posts">{{post}}</div>

		</div>
	</div>
	
</body>
</html>