<!DOCTYPE HTML>
<html ng-app="project">
<head>
<title>CARL</title>

<!-- Angular -->
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js"></script>
<script src="/javascripts/angularApp.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container">

		<div class="blog-header">
			<h1 class="blog-title">CARL</h1>
			<p class="lead blog-description">Community Acquired Resolution
				List</p>
		</div>

		<div class="row">
			<div class="col-sm-8 blog-main" ng-controller="MainController">

				<div class="blog-post">
					<div id="postform">
						<h4>Submit a post:</h4>
						<div>
							<form role="form">
								<div class="form-group">
									<label for="title"> Title: </label> <input id="title"
										class="form-control" type="text" ng-model="formData.title">
								</div>
								<div class="form-group">
									<label for="body"> Post body: </label> <input id="body"
										class="form-control" type="text" ng-model="formData.body">
								</div>
								<div class="form-group">
									<label for="author"> Author: </label> <input id="author"
										class="form-control" type="text" ng-model="formData.author">
								</div>
								<div class="form-group">
									<label for="category"> Category: </label> <input id="category"
										type="text" class="form-control" ng-model="formData.category">
								</div>
								<button class="btn btn-primary" type="submit"
									ng-click="addPost()">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<br>

				<div class="blog-post">
					<div class="table-responsive">
						<h4>Posts</h4>
						<div id="searchform">
							<form role="form">
								<div class="form-group">
									<label for="search"> Search: </label> <input id="search"
										class="form-control" ng-model="searchText">
								</div>
							</form>
						</div>
						<a href="" ng-click="predicate=''"><button
								class="btn btn-default">Sort by date of submission (oldest first)</button></a> <br> <br>
						<table class="table">
							<tr>
								<th><a href=""
									ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
								<th><a href=""
									ng-click="predicate = 'body'; reverse=!reverse">Body</a></th>
								<th><a href=""
									ng-click="predicate = 'author'; reverse=!reverse">Author</a></th>
								<th><a href=""
									ng-click="predicate = 'category'; reverse=!reverse">Category</a>
								</th>
							</tr>
							<tr
								ng-repeat="post in posts | orderBy:predicate:reverse | filter:searchText">
								<td>{{post.title}}</td>
								<td>{{post.body}}</td>
								<td>{{post.author}}</td>
								<td>{{post.category}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
				<div class="sidebar-module sidebar-module-inset"
					ng-controller="SearchController">
					<h4>Posts per category</h4>
					<a href="" ng-click="predicate=''"><button
							class="btn btn-default">Sort by date of submission (oldest first)</button></a> <br> <br>
					<div class="table-responsive">
						<table class="table">
							<tr>
								<th><a href=""
									ng-click="predicate = '_id'; reverse=!reverse">Category</a></th>
								<th><a href=""
									ng-click="predicate = 'value'; reverse=!reverse">Number of
										posts</a></th>
							</tr>

							<tr
								ng-repeat="category in categories | orderBy:predicate:reverse">
								<td>{{category._id}}</td>
								<td>{{category.value}}</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="sidebar-module sidebar-module-inset"
					ng-controller="SearchController">
					<h4>Posts per author</h4>
					<a href="" ng-click="predicate=''"><button
							class="btn btn-default">Sort by date of submission (oldest first)</button></a> <br> <br>
					<div class="table-responsive">
						<table class="table">
							<tr>
								<th><a href=""
									ng-click="predicate = '_id'; reverse=!reverse">Author</a></th>
								<th><a href=""
									ng-click="predicate = 'value'; reverse=!reverse">Number of
										posts</a></th>
							</tr>
							<tr ng-repeat="author in authors | orderBy:predicate:reverse">
								<td>{{author._id}}</td>
								<td>{{author.value}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>