<!DOCTYPE HTML>
<html ng-app="project">
<head>
<title>CARL</title>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js"></script>
<script src="/javascripts/angularApp.js"></script>

</head>

<body>
<div ng-controller = "SearchController">
	<div id="authorlist">
		<div>
			<h2>Occurences per category:</h2>
			<div ng-repeat="category in categories">{{category._id}}: {{category.value}}</div>
		</div>
	</div>
</div>
<div ng-controller = "MainController">
	<div id="postform">
		<h2>Posts:</h2>
		<div>
			<form>
				Title: <input type="text" ng-model="formData.title"> <br>
				Post body: <input type="text" ng-model="formData.body"> <br>
				Author: <input type="text" ng-model="formData.author"> <br>
				Category: <input type="text" ng-model="formData.category"> <br>
				<button type="submit" ng-click="addPost()">Submit</button>
			</form>
		</div>
	</div>
	
	<div id="postlist">
		<div>
			<div ng-repeat="post in posts">{{post.title}} - {{post.body}} - {{post.author}} - {{post.category}}</div>
		</div>
	</div>
</div>
</body>
</html>