<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body ng-app="project" ng-controller="MainController">
    <h1>Project</h1>
    <p>Welcome to our project</p>
    {{"It is working!"}}
    {{test}}
  </body>
</html>
